<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Login Page</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
 
</head>
<body>
    <div class="nav">DCIT SCHEDULER</div>
    <div class="login-container">
        <form action="/login" method="POST">
            <h3>Login Here</h3>

            <label for="email">Username</label>
            <input type="text" name="email" placeholder="Email or Phone" id="email" required>

            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" id="password" required>

            <button type="submit">Log In</button>
        </form>
    </div>
</body>

</html>
